
@{
    ViewBag.Title = "NotFound";
}

<asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
    
</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Superhero Not Found</h2>

    <p>Sorry, but the superhero you requested doesn't exist or was deleted.</p>

</asp:Content>

